@charset "UTF-8";

    

#logo{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#img {
    width: 50px;
    height: 50px;
    margin-inline: auto;
}

.content {
 
    padding: 20px;
    border-radius: 8px;

    
}



#joinFormBox label{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;;
}

#joinFormBox input{
    width: 300px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

#joinFormBox button{
    width: 100px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #ff4500;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
    }


/*로그인창*/
#loginFormBox label {
   
    display: block;
    margin-bottom: 10px;
    
    text-align: center;
    font-weight: bold;
}

#loginFormBox input {
   
    width: 300px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}



#loginFormBox button {
    width: 100px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #ff4500;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}


#loginFormBox .joinMsg{
    margin-bottom: 50px;
    text-align: center;
}

.joinrequest{
    text-decoration: underline;
}

.joinMsg, .joinrequest {
    display: inline; /* 블록 요소를 인라인으로 변경 */
    margin-bottom: 100px;
}

#loginFormBox {
    margin-bottom: 50px; /* 푸터와 로그인 박스 사이에 공간 추가 */
}

footer {
    margin-top: 50px; /* 푸터와 로그인 폼 사이에 추가 간격 */
}