@charset "UTF-8";

#header {
    /* background-color:  white; */
    /* padding: 20px; */
    /* border-bottom: 1px solid #e0e0e0; */
    /* height: 160px; 전체 헤더 높이를 고정 */
    margin-bottom: 10px;
}

.header-container {
    width: 100%;
    overflow: hidden; /* float을 사용하기 때문에 clearfix를 위해 추가 */
}

.logo {
    float: left; /* 왼쪽 정렬 */
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
    vertical-align: middle;
}

.logo h1 {
    display: inline-block;
    font-size: 24px;
    color: #333;
    vertical-align: middle;
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
}

.menu {
    float: right; /* 오른쪽 정렬 */
    text-align: right;
    margin-right: 20px;
    
}

.menu p {
    font-size: 16px;
    color: #555;
    margin-right: 10px;
    display: inline-block;


}

.menu a.button {
    
    padding: 10px 20px;
    border: none;
    background-color: f5a623;;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.menu button:hover {
    background-color: #ffe2e2;
}

.button{
	padding: 10px 20px;
    border: none;
    background-color:rgb(255, 106, 0);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'HakgyoansimChilpanjiugaeTTF-B';
    font-size : 16px;
}

#logoutBtn:hover{
	background-color: #ffe2e2;
	
}

.search {
    clear: both; 
    margin-top: 40px;
    text-align: center;
}

.search input {
    width: 330px;
    padding: 8px;
    border: 1px solid #f5a623;
    border-radius: 5px;
}

.search button {
    padding: 11px;
    border: none;
    background-color: rgb(255, 106, 0);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.search button:hover {
    background-color: #f5a623;
}

.nav-menu {
    margin: 40px 0px;
   
    text-align: center;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block; /* 가로로 나열 */
    margin: 0 40px;
}

.nav-menu li h2 {
    font-size: 24px;
    color: rgb(255, 106, 0);
    font-family: 'GangwonEduPowerExtraBoldA';
}

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    color:  #f5a623;
    font-family: 'HakgyoansimNadeuriTTF-B';
}

.nav-menu li a:hover {
    color: #fc6363;
}

.nav-menu li #logo {
	margin: 0px;
}

.nav-menu li img {
	width: 40px;
}