@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}

.container {
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}
.img-container {
    display: flex;
    max-width: 1000px;
    margin: 0;
    padding: 50px;
    background-color: white;
}
.images {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.form-img-uprod {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 40px;
}

.form-group-img {
    flex: 0.4;
    width: 450px;
    height: 450px;
    padding: 30px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[readonly] {
    background-color: #f1f1f1;
    color: #999;
}

.form-group input[type="file"] {
    display: inline-block;
    margin-right: 10px;
}

.form-group img {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    display: block;
    margin-bottom: 10px;
}

.category-section, .subcategory-section {
    margin-top: 10px;
}

.category-section select,
.subcategory-section input[type="radio"] {
    margin-right: 10px;
}

.options-section {
    
    margin-top: 20px;
}

.options-section input[type="text"] {
    width: calc(100% - 100px);
    display: inline-block;
    margin: 8px;
    padding: 8px;
}

.add-option-btn,
.delete-option-btn {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.delete-option-btn {
    background-color: #f44336;
}

.add-option-btn:hover,
.delete-option-btn:hover {
    opacity: 0.8;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #555;
}

.cancel-btn {
    background-color: #999;
}

.cancel-btn:hover {
    background-color: #777;
}

.note {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}